.card {

  background-color: white;
  position: relative;
  object-fit: cover;
  overflow: hidden;
  font-size: 14px;
  border-radius: 10px;
  margin: 20px;
  padding: 0;
  visibility: visible;
  opacity: 1;
  transition: all 0.5s;
}

.imgBx img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
  transition: all 1s;
  border-radius: 10px;
  max-height: 190px;
  
}

.content{
  position: absolute;
  top: 0px;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  display: flex;
  font-family: 'QuickSand', sans-serif;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 1s;
  opacity: 0;
}

.content h2{
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

.content p{
  font-size: 1.25em;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

.content button{
  background-color: black;
  color: white;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;

}
.content button:hover{
  color: #87A330;
}

.reacticons{
  margin: 5px;
}

/* target every direct child of the content*/
.content > * {
  transform: translateY(20px);
  transition: transform 1s;
}

.content:hover > * {
  transform: translateY(0);
} 

.content:hover{
  transition: all 1s;
  opacity: 1;
}

/*De 0px hasta max-width comportate así:  */
@media (max-width: 670px) {
  .card {
    width: 85%;
  }
  .content h2{
    font-size: 1.2em;
  }
  .content p{
    font-size: 1em;
  }
}
@media (max-width:300px){
  .content h2{
    font-size: 0.8em;
  }
  .content p{
    font-size: 0.5em;
  }
}